@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mukta&family=Open+Sans:ital,wght@1,300&family=Outfit:wght@200&family=PT+Sans+Caption&family=Roboto:wght@300;400&family=Source+Serif+Pro&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'DM Sans', sans-serif;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.left-part{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-left: 10px;
}

li{
  margin-left: 10px;
  list-style-type: none ;
  margin-left: 15px;
  cursor: pointer;

}
li:hover{
  font-weight: bolder;
}

.login-btn{
  background: none;
  padding: 5px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: grey;
  font-size: 1.1rem;


}
.register-btn{
  background: none;
  padding: 7px;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
  cursor: pointer;
  color: grey;
  font-size: 1.1rem;
}

.register-btn:hover, .login-btn:hover{
  color: black;
  transition: 300ms;
}

.features-popup{
  background: white;
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 7px;
  position: fixed;
  top: 45px;
}
.popup-links li {
  margin-top: 15px;
}
.features-li,.company-li{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-li{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.all-links{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.menu-btn{
  background: none;
  display: none;
  border: none;
}

.right-navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.container{
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.text{
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1{
  font-weight: bolder;
  font-size: 4rem;
}

.learn-more-btn{
  width: 25%;
  background: black;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 5px;

}
.learn-more-btn:hover{
  background: white;
  color: black;
  transition: 400ms ease-in-out ;
  cursor: pointer;
}

.hero-img{
  width: 40%;
  height: 25%;

}
.images{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 660px){
  .right-navbar{
    display: none;
  }
  .menu-btn{
    display: block;
    position: relative;
    left: 75%;
    z-index: 10;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .features-popup{
    position: relative;
    top: 0;
  }

  .right-navbar.open{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border: 1px solid white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 70%;
    height:100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
  }
  .right-navbar.open .links,.right-navbar.open .right-part {
    display: flex;
    flex-direction: column;
  }
  .right-navbar.open .links{
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
  }
  .text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .learn-more-btn{
    width: 50%;
  }
  .hero-img{
    width: 100%;
  }

}